<!doctype html>
<html lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>HivyLite</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <link rel="apple-touch-icon" href="apple-touch-icon.png">

        <link rel="stylesheet"  type="text/css" href="/ressources/css/main.css"> 
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        <section class="form-container">
        	<form class ="form-main" action="#" method="post">
        		<label class="form-label" for="product_name">What do you need ?</label>
        		<input class='form-input' id="product-name" name="product_name" type="text" placeholder="products">
        		<section class="form-button-container">
	        		<button type="" class="cancel-button">Cancel</button>
	        			<button type="submit" class="clearfix form-button">Create a new request</button>
        		</section>
        	</form>
        	
        </section>
        <div id="tree">
        </div>
     <script src="/ressources/js/app.js"></script>
    </body>
</html>